#btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 2px 2px 2px #000507;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #3498db;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }
  
  #btn:hover {
    background: #38d1ff;
    text-decoration: none;
  }

  #navbar {
    font-family: Open;
    color: #ffffff;
    font-size: 20px;
    background-image: url(imgs/cartoon-raining-isolated-on-white-background-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }


